bot:
  name: CyberVetDemo
  key: 8536770309:AAFxUMrmOV_0BVkS9TRGEyznT4sBgbTjp8E

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/CyberVetDB
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    show-sql: true
